.step-title {
	margin-bottom: 15px;
}
.data-table {
	min-width: 300px;
	margin: 0 auto 20px;
}
.data-table td {
	border: 1px solid #ccc;
}
.green {
	background: rgba(143, 255, 122, 0.4);
}
.result-data {
	margin-bottom: 15px;
}